
button:focus {
    outline: none!important;
    box-shadow: none!important;
}
button:hover{
    
    border-radius: 4px;
  background-color: #339966;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 1px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

